:root {
    --icon-size: 1.25em;
}

html {
    background: #2d2d2d;
}

main {
    width: 50%;
    min-width: 500px;
}

.shell-cmd {
    color: slateblue;
    position: relative;
}

.shell-cmd pre {
    background: lightblue;
    padding: 2em;
}

.shell-cmd .copy-btn {
    opacity: .2;
}

.shell-cmd .copy-btn, .shell-cmd .copied {
    transition: opacity .4s, transform .2s;
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    top: calc(50% - (var(--icon-size) / 2));
    right: 1em;
    cursor: pointer;
}

.shell-cmd:hover .copy-btn {
    opacity: 1;
    transform: scale(105%);
}

.shell-cmd .copy-btn:hover, .shell-cmd .copied {
    transform: scale(120%);
}

.shell-cmd .copied {
    transform: scale(110%);
}

.shell-cmd .copied {
    display: none
}

.shell-cmd.copied .copied {
    display: block;
}

.shell-cmd.copied .copy-btn {
    display: none;
}
