---
import MoonSvg from './MoonSvg.html'
import SunSvg from './SunSvg.html'
---

<div>
    <label for="theme-toggle">
        <MoonSvg/>
        <input type="checkbox" name="toggle1" id="theme-toggle" checked>
        <SunSvg/>
    </label>
</div>

<script is:inline>
    document.getElementById('theme-toggle').addEventListener('click', () => {
        document.documentElement.classList.toggle('light')
        localStorage.setItem('theme', document.documentElement.classList.contains('light') ? 'light' : 'dark')
    })
</script>

<style>
</style>
