---
import '@src/global.css'
import ThemeIcon from '@src/components/theme/ThemeIcon.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="Software engineering output of Adam McKee Bennett"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="manifest" href="/manifest.json"/>
    <title>eighty4.tech</title>
    <script is:inline>
        let theme
        if (typeof localStorage !== 'undefined') {
            theme = localStorage.getItem('theme')
        }
        if (!theme) {
            theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'theme'
        }
        document.documentElement.classList[theme === 'light' ? 'add' : 'remove']('light')
        window.localStorage.setItem('theme', theme)
    </script>
</head>
<body>
<header>
    <div>
        <a href="/">
            <img src="/84-192.png" alt="84" height="64" width="64"/>
        </a>
    </div>
    <div>
        <a href="/apps">Apps</a>
    </div>
    <div>
        <a href="/coding">Coding</a>
    </div>
    <ThemeIcon/>
</header>
<main>
    <slot/>
</main>
</body>
</html>

<style>
    header {
        display: flex;
        text-underline-offset: .1rem;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
        height: 6rem;
        background: var(--theme-color-header);
    }
    main {
        height: calc(100% - 6rem);
    }
</style>
