:root {
	--dark-theme-color-accent: mediumvioletred;
	--dark-theme-color-bg: rgb(6, 10, 15);
	--dark-theme-color-header: rgb(2, 2, 2);
	--dark-theme-color-text: rgb(235, 237, 239);

	--light-theme-color-accent: mediumvioletred;
	--light-theme-color-bg: rgb(235, 237, 239);
	--light-theme-color-header: rgb(200, 175, 170);
	--light-theme-color-text: rgb(15, 17, 19);
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

body {
	font-family: sans-serif;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

html {
	--theme-color-bg: var(--dark-theme-color-bg);
	--theme-color-header: var(--dark-theme-color-header);
	--theme-color-text: var(--dark-theme-color-text);
}

html.light {
	--theme-color-bg: var(--light-theme-color-bg);
	--theme-color-header: var(--light-theme-color-header);
	--theme-color-text: var(--light-theme-color-text);
}

body {
	background: var(--theme-color-bg);
	color: var(--theme-color-text);
}
