---
import '@fontsource/inter'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>eighty4.tech</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    * {
        font-family: 'Inter', sans-serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }
</style>
