---
import { getCollection, render } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const content = await getCollection('content')
  return content.map(piece => ({
    params: { slug: piece.id },
    props: { piece },
  }))
}

const { piece } = Astro.props
const { Content } = await render(piece)
---

<BaseLayout>
    <h1>{piece.data.title}</h1>
    <h2>{piece.data.date}</h2>
    <Content />
</BaseLayout>
